html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-image: url('./assets/st-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #C22E2C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button,
input,
textarea {
  padding: 0.5em;
  margin-top: 0.5em;
  border: 2px solid #C22E2C;
  background-color: #ffffff;
  color: #C22E2C;
  border-radius: 1em;
  font-size: 1.5em;

}

button {
  max-width: 20vw;
  text-align: center;
  vertical-align: middle;
  margin: 0.5em;
  padding: 0.5em 1em;
  

}

button:hover,
input[type="submit"]:hover {
  background-color: #C22E2C;
  color: #ffffff;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  color: #C22E2C;
  padding: 1em 0;
  box-shadow: 0 2px 10px 0 #C22E2C;
  min-width: 100vw;
  
}

.navbar a,
.navbar button {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5em 1em;
  background: #C22E2C;
  border: #ffffff solid 2px;
  cursor: pointer;
  border-radius: 1em;
  font-size: 1.5em;
  vertical-align: top;

}

.navbar a:hover,
.navbar button:hover {
  background-color: #ffffff;
  color: #C22E2C;
  border: #C22E2C solid 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.5em;
  padding: 1em;
  border: 2.5px solid #C22E2C;
  border-radius: 1em;
  background-color: #ffffff;
  color: #C22E2C;
}

.contain:focus-within {
  border: #C22E2C;
  color: #ffffff;
}
.container-child {
  list-style-type: none;
  padding: 0.5em;
  display: flex;
  margin: 1em;
  flex-direction: column;
  gap: 1em;
  border: 2.5px solid #C22E2C;
  border-radius: 1em;
  color: #C22E2C;
}

.container-child:focus {
  border: #C22E2C;
  color: #ffffff;
}

.action {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0.5em 1em;
  
}

.title {
  text-align: center;
  font-size: 2em;
  margin: 0.5em;
  color: #C22E2C;
}

.home-text {
  width: 60vw;
  text-align: center;
  font-size: 1.5em;
  margin: 0 20vw 0 20vw;
  
}

.searchBar {
  gap: 1em;
  border: 2px solid #C22E2C;
  border-radius: 1.5em;
  margin: 1em;
  margin: 1em 5em 1em 5em;
  color: #C22E2C;
}

.searchBar:focus {
  border: #C22E2C;
  color: #ffffff;
}

.danger-button {
  background-color: red;
}